{
    "presets": [
        [
            "@babel/preset-env",
            {
                "target": {
                    "node":"current"
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        },
        "production": {
            "plugins": ["@babel/plugin-syntax-dynamic-import"]
        }
    }
}